langchain
langchain-core
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
langchain-anthropic
chromadb
langchain-ollama
transformers
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
fastapi
uvicorn
langserve
sse-starlette
pydantic
duckdb
pandas
openai
langchain-groq
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
gradio